@model HistRepro.Models.Afore

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> Afores</h4>
    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row mb-4">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="Claveconsar" class="control-label"></label>
                            <input asp-for="Claveconsar" class="form-control" type="text" />
                            <span asp-validation-for="Claveconsar" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="Clavecorta" class="control-label"></label>
                            <input asp-for="Clavecorta" class="form-control" type="text" />
                            <span asp-validation-for="Clavecorta" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Fechaautorizacionoficio" class="control-label"></label>
                            <input asp-for="Fechaautorizacionoficio" class="form-control" type="date" />
                            <span asp-validation-for="Fechaautorizacionoficio" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="Nombrecorto" class="control-label"></label>
                            <input asp-for="Nombrecorto" class="form-control" type="text" />
                            <span asp-validation-for="Nombrecorto" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Numerooficioautorizacion" class="control-label"></label>
                            <input asp-for="Numerooficioautorizacion" class="form-control" type="text" />
                            <span asp-validation-for="Numerooficioautorizacion" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-secondary">Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
